@font-face {
   font-family: 'StripedKing';
   src: url('StripedKing/font.ttf');
}
@font-face {
   font-family: 'Haarlem Deco DEMO';
   src: url('Haarlem Deco DEMO/font.ttf');
}
@font-face {
   font-family: 'GeosansLight';
   src: url('GeosansLight/font.ttf');
}
